.product{
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 10px;
    position: relative;
}
.product img{
    width: 286px;
    height: 286px;
    margin: 7px;
}
.product-info{
    margin-top: -10px;
    margin-left: 10px;
    margin-bottom: 5px;
}
.product-name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
}
.product-info p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.btn-add-to-cart{
    width: 100%;
    position: absolute;
    bottom: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #FFE0B3;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-add-to-cart:hover{
    background-color: orange;
}
.btn-add-to-cart p{
    margin-right: 5px;
}